

.static-width{
    width: 300px;
    height: 300px;
    
    background: url(https://cdn4.iconfinder.com/data/icons/gaming-and-playing/128/__Resolution-512.png) no-repeat top center;
    
    background-color: #606060;
    background-size: 200px;
}

